

    .thumbnail {
      width: 100%;
    }

   

    .video-title {
      margin-top: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 12px;
    }


    .video-info-grid {
      display: grid;
      grid-template-columns: 50px 1fr;
    }

    .channel-picture {
      /* display: inline-block;
      width: 50px;
      vertical-align: top; */
    }

    .video-info {
      /* display: inline-block;
      width: 240px; */
    }

    .video-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
    }

    .profile-picture {
      width: 40px;
      border-radius: 50%;
    }

    .thumbnail-div {
      margin-bottom: 12px;
    }

    .video-author,
    .video-stats {
      font-size: 12px;
      color: rgb(96, 96, 96);
    }

    .video-author {
      margin-bottom: 4px;
    }


    div {
      /* border: 1px solid lightgray; */
    }